$text-dark: #1c2056;
$text-color:#2d2058;
$text-grey: #263238;
$text-ligh: #546e7a;

$accent-color: #2870db;
$login-color: #14215e;
$btn-shadow-color: #1153a5;
$card-shadow-color: #205eab;
$value-color: #1a56a3;

$white: #ffffff;
$bg-color: #fbfcfc;