$text-dark: #1c2056;
$text-color:#2d2058;
$text-grey: #263238;
$text-ligh: #546e7a;

$accent-color: #2870db;
$accent-color-pink:#f59399;
$login-color: #14215e;
$btn-shadow-color: #1153a5;
$card-shadow-color: #205eab;
$value-color: #1a56a3;
$form-color: #3072c0;
$form-shadow-color: #1f6ee3;
$form-btn-color: #00aeff;
$footer-color: #1955a3;

$white: #ffffff;
$bg-color: #fbfcfc;