.about {
  position: relative;
  padding-top: 100px;
  padding-bottom: 116px;

  &::before {
    content: '';
    position: absolute;
    direction: block;
    width: 100%;
    height: 1832px;
    left: 0;
    top: 0;
    background-image: url('../img/about-bg-left.svg');
    background-repeat: no-repeat;
    background-position: 0 403px;
    opacity: .1;
  }

  //--
  outline: 1px solid blue;

  &__title {
    margin: 0;
    margin-right: 120px;
    padding: 0 280px 110px;

    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    display: block;
    margin: 0;
    margin-bottom: 65px;
    width: 550px;
    height: 356px;
    //width: 47%;

    &:first-child {
      margin-top: 192px;
    }

    &:nth-child(odd):not(:last-child) {
      margin-right: 67px;
    }

    &:nth-child(even):not(:last-child) {
      margin-left: auto;
    }

    &:nth-last-child(2) {
      display: inline-block;
      margin-bottom: 0;
    }

    &--btn {
      display: inline-block;
      margin: 0;
      height: auto;
      text-align: center;
    }
  }

  &__btn {}
}

.about-card {
  position: relative;
  display: block;
  padding: 67px 70px 66px 70px;;

  border-radius: 20px;
  background-color: $white;
  box-shadow: 13.5px 23px 43px 0px rgba($card-shadow-color, 0.1);
  text-align: left;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position-x: 0, 10px;
  }

  &--advocate {
    &::before {
      width: 155px + 10px;
      height: 129px;
      top: -129px - 63px;
      background-image: url(../img/advocate.png), url(../img/advocate-shadow-opacity.png);
    }
  }

  &--volunteer {
    &::before {
      width: 112px + 10px;
      height: 150px;
      top: -150px - 63px;
      background-image: url(../img/volunteer.png), url(../img/volunteer-shadow-opacity.png);
    }
  }

  &--explore {
    &::before {
      width: 175px + 10px;
      height: 108px;
      top: -108px - 63px;
      background-image: url(../img/explore.png), url(../img/explore-shadow-opacity.png);
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 55px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }

  &__text {
    margin: 0;

    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
    line-height: 36px;
  }
}

.features {}