.main-header {
  position: relative;
  margin-bottom: 91px;
  padding-bottom: 272px;

  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: 100%;
  //background-size: contain;
  background-size: 57%;

  @media (max-width: 1800px) {
    padding-bottom: 210px;
  }

  @media (max-width: 1700px) {
    padding-bottom: 165px;
  }

  @media (max-width: 1600px) {
    padding-bottom: 120px;
  }

  @media (max-width: 1440px) {
    margin-bottom: 50px;
    padding-bottom: 90px;
    background-position-x: 110%;
  }

  @media (max-width: 1200px) {
    margin-bottom: 0;
    padding-bottom: 145px;
    background-position-x: 100%;
    background-size: 60%;
  }

  @media (max-width: 1024px) {
    background-size: 70%;
    padding-bottom: 170px;
  }

  @media (max-width: 900px) {
    padding-bottom: 90px;
  }

  @media (max-width: 800px) {
    padding-bottom: 50px;
  }

  @media (max-width: 768px) {
    background-size: 100%;
    padding-bottom: 332px;
  }

  @media (max-width: 480px) {
    background-position-x: -235px;
    background-size: cover;
  }

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 673px;
    top: 352px;

    background-image: url(../img/circle-pink.svg), url(../img/circle-pink-140.svg);
    background-repeat: no-repeat;
    background-position: 19px 0, right 88px bottom;
    opacity: .5;

    @media (max-width: 1440px) {
      height: 470px;
      top: 252px;
    }

    @media (max-width: 1200px) {
      top: 150px;
    }

    @media (max-width: 1024px) {
      top: 130px;
      height: 566px;
      background-position: 0 0, right 100px bottom;
    }

    @media (max-width: 768px) {
      height: 750px;
      background-position: 0 0, left bottom;
    }
  }

  &::after {
    position: absolute;
    content: '';
    width: 173px;
    height: 679px;
    top: 349px;
    left: 0;

    background-image: url(../img/shape-1.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1440px) {
      top: 249px;
      background-size: 70%;
    }

    @media (max-width: 1440px) {
      top: 147px;
      background-size: 60%;
    }

    @media (max-width: 768px) {
      content: none;
    }
  }

  &__wrap {
    position: relative;
    padding-top: 85px;

    @media (max-width: 768px) {
      padding-top: 40px;
    }

    &::before {
      position: absolute;
      content: '';
      width: 104px;
      height: 104px;
      top: 543px;
      left: 556px;
  
      background-image: url(../img/circle-blue.svg);
      background-repeat: no-repeat;
      background-size: cover;
      opacity: .5;

      @media (max-width: 1440px) {
        top: 67%;
        left: 50%;
      }

      @media (max-width: 1200px) {
        top: 80%;
      }

      @media (max-width: 1024px) {
        top: 84%;
        left: 88%;
      }

      @media (max-width: 768px) {
        top: 100%;
        left:auto;
        right: 30px;
      }
    }
  }

  &__desc {
    margin-left: 0;
    padding: 0 116px;
    box-sizing: border-box;
    width: 47.5%;

    @media (max-width: 1600px) {
      width: 55%;
    }

    @media (max-width: 1440px) {
      padding: 0 100px;
      width: 56%;
    }

    @media (max-width: 1200px) {
      padding: 0 20px;
      width: 42%;
    }

    @media (max-width: 1024px) {
      padding: 50px;
      width: 100%;
      text-align: center;

      border-radius: 50px;
      background-color: $white;
    }

    @media (max-width: 768px) {
      padding: 0;
      background-color: transparent;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 36px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;

    @media (max-width: 1440px) {
      font-size: 40px;
      line-height: 50px;
    }

    @media (max-width: 1440px) {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 20px;
    }

    @media (max-width: 1024px) {
      font-size: 28px;
      line-height: 36px;
    }

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 30px;
      color: $white;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 104px;
    color: $text-color;
    opacity: .65;

    @media (max-width: 1440px) {
      br {
        display: none;
      }
    }

    @media (max-width: 1200px) {
      margin-bottom: 50px;
    }

    @media (max-width: 768px) {
      margin-bottom: 104px;
      color: $white;
      opacity: 1;
    }
  }
}

.main-nav {
  display: flex;
  margin-bottom: 137px;

  @media (max-width: 1440px) {
    margin-bottom: 100px;
  }

  @media (max-width: 1024px) {
    margin-bottom: 70px;
  }

  @media (max-width: 768px) {
    position: relative;
    justify-content: space-between;
  }

  &__logo {
    margin-right: auto;
    margin-left: -4px;
    width: 157px;
    height: 31px;

    font-size: 40px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    color: $text-dark;

    @media (max-width: 1024px) {
      font-size: 30px;
      line-height: 30px;
    }

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 20px;
      color: $white;
    }
  }

  &__toggle {
    position: relative;
    display: none;
    margin-top: -5px;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;

    @media (max-width: 768px) {
      display: inline-block;
    }

    &::before, &:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 1px;
      left: 50%;
      
      transform: translateX(-50%);
      background-color: $white;
      transition: .5s;
    }

    &::before {
      box-shadow: 0 7px 0 0 $white;
    }

    &::after {
      box-shadow: 0 -7px 0 0 $white;
    }

    &--close {
      &::before, &::after {
        box-shadow: 0 0 0 0 transparent;
      }

      &::before {
        transform: translateX(-50%) rotate(45deg);
      }

      &::after {
        transform: translateX(-50%) rotate(-45deg);
      }
    }
  }

  &__logo:hover {
    .main-nav__first-letter {
      color: $accent-color-pink;
    }
  }

  &__first-letter {
    color: $accent-color;
    transition: 0.5s;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;

    @media (max-width: 768px) {
      position: absolute;
      display: flex;
      margin-top: 31px;
      padding: 30px;
      width: calc(100% + 60px);
      height: calc(100vh - 31px);
      box-sizing: border-box;
      left: -30px;

      flex-direction: column;
      align-items: center;
      justify-content: center;

      background-color: $menu-color;

      &--hidden {
        display: none;
      }
    }
  }

  &__item {
    padding: 0 34px;

    font-size: 18px;
    line-height: 35px;

    &:last-child {
      padding: 0;

      @media (max-width: 768px) {
        margin: 30px 0;
      }
    }

    @media (max-width: 1440px) {
      padding: 0 18px;
    }

    @media (max-width: 1024px) {
      padding: 0 10px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (max-width: 768px) {
      padding: 30px;
    }
  }

  &__link {
    padding: 6px 0;
    border-bottom: 1px solid transparent;

    text-decoration: none;
    color: $white;
    transition: .5s;

    &:hover {
      border-bottom-color: inherit;
    }

    &--login {
      margin-left: 30px;
      padding: 6px 36px;
      border-radius: 12px;

      background-color: $white;
      color: $login-color;
      transition: .5s;

      @media (max-width: 1024px) {
        margin-left: 20px;
      }

      @media (max-width: 768px) {
        margin-left: 0;
      }

      &:hover {
        border-bottom-color: transparent;

        background-color: $accent-color-pink;
        color: $white;
      }
    }
  }
}